button.stripe-button-el,
button.stripe-button-el>span {
  background-color: #EB649C !important;
  background-image: none;
}

.App-header{
  font-family: 'Helvetica', sans-serif;
  color: #00CCFF;
}

.description{
  font-family: 'Helvetica', sans-serif;
  color: #111E6B;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}



.product-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.field{
  border-radius: 10px;
  width: 230px;
  font-family: 'Helvetica', sans-serif;
  color: #984EFF;
  border-color: #984EFF;
  font-weight: bold;
  border-style: solid;
  font-size: 1em;
  height: 25px;
  margin-bottom: 16px;
  padding-left:10px;
}

.selected-product{
  border-radius: 30px;
  width: 180px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-style: solid;
  color: white;
  background-color: #3DD869;
  font-size: 1em;
  height: 35px;
  cursor: pointer;
  margin-bottom: 16px;
}

.product{
  margin-bottom: 16px;
  border-radius: 30px;
  border-color: #3DD869;
  border-width: 3px;
  border-style: solid;
  width: 180px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #3DD869;
  font-size: 1em;
  height: 35px;
  cursor: pointer;
}

.other-amount{
  margin-bottom: 16px;
  border-radius: 30px;
  border-color: #3DD869;
  border-width: 3px;
  border-style: solid;
  width: 145px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #3DD869;
  font-size: 1em;
  height: 27px;
  cursor: pointer;
  padding-left: 30px;
}

::placeholder {
  color: #3DD869;
}

.field::placeholder{
  color:#111E6B;

}

.stripe-button{
  margin:100px;
}

.stripe-button-el { display: none }
