/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
/* .StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
} */

#container{
  color: white;
  font-size: 2.5em;
  font-family: Helvetica, sans-serif;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;

}

#paths {
  color: white;
  font-size: 2.5em;
  font-family: Helvetica, sans-serif;
  margin: auto;
}

table {
  margin: 30px;
}

td {
  margin:20px;
  font-size: 25px;
}

.path-img {
  width: 50%;
}

.marble-img {
  width: 30%;
}

.menu-logo {
  width: 200px;
  margin: 30px;
}

.adv-img {
  width: 50%;
  margin: 30px;
}

body {
  /*background-color: rgb(33, 7, 131);*/
  background-color: navy;
  font-family: Helvetica, sans-serif;
  color: white;
  width: 100%;
}

.rollTurn {
  font-size: 2em;
}